/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

@font-face {
  font-family: 'Europa';
  src: url("/public/fonts/europa/EuropaRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Europa';
  src: url("/public/fonts/europa/EuropaLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Europa';
  src: url("/public/fonts/europa/EuropaBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

body, input, textarea, select, button {
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: ltr;
  text-align: left; }

body {
  font-family: "Europa", sans-serif; }
  body::before {
    display: none;
    content: 'mobile'; }
    @media (min-width: 768px) and (max-width: 1199px) {
      body::before {
        content: 'tablet'; } }
    @media (min-width: 1200px) {
      body::before {
        content: 'desktop'; } }

button:focus, a:focus {
  outline: 0; }

.btn {
  display: inline-block;
  color: white;
  transition: all 0.3s linear;
  border-radius: 60px;
  font-size: 16px;
  padding: 0 24px;
  line-height: 38px;
  background-color: #808080;
  border: 1px solid #808080;
  text-decoration: none; }
  .btn-purple {
    background-color: #be5fd9;
    border: 1px solid #be5fd9; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; }
  header.fixed #header-content {
    border-bottom: 1px solid rgba(185, 185, 185, 0.3);
    background: rgba(255, 255, 255, 0.8);
    padding: 12px 20px;
    opacity: 1; }
    header.fixed #header-content__logo svg {
      height: 30px; }
      header.fixed #header-content__logo svg .letters {
        fill: black; }
  header.hidden #header-content {
    opacity: 0; }

#header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 20px 12px 20px;
  border-bottom: 1px solid transparent;
  background: transparent;
  transition: all 0.8s ease; }
  #header-content__logo {
    display: flex; }
    #header-content__logo svg {
      height: 30px;
      transition: height 0.8s ease; }
      @media (min-width: 768px) {
        #header-content__logo svg {
          height: 50px; } }
      #header-content__logo svg .letters {
        fill: white;
        transition: fill 0.8s ease; }
  @media (max-width: 767px) {
    #header-content__links a {
      padding: 0 14px; } }

.section__w-text-only {
  position: relative;
  display: flex;
  min-height: 100vh;
  align-items: center;
  width: 100%; }
  @media (max-width: 767px) {
    .section__w-text-only {
      min-height: 70vh; } }
  .section__w-text-only .content {
    text-align: center;
    padding: 0 10%;
    color: #526173;
    max-width: 920px;
    margin: 0 auto; }
    .section__w-text-only .content .logo {
      height: 78px;
      margin: 0 0 40px;
      transition: all 0.2s ease; }
      @media (max-width: 767px) {
        .section__w-text-only .content .logo {
          margin: 0 0 30px;
          height: 68px; }
          .section__w-text-only .content .logo svg {
            height: 68px; } }
    .section__w-text-only .content .title {
      font-size: 48px;
      margin: 0 0 40px;
      transition: all 0.2s ease; }
      @media (max-width: 767px) {
        .section__w-text-only .content .title {
          font-size: 26px; } }
    .section__w-text-only .content .description {
      font-size: 24px;
      line-height: 32px;
      max-width: 920px;
      margin: 0 0 30px;
      transition: all 0.2s ease;
      font-family: "Proxima Nova", sans-serif; }
      @media (max-width: 767px) {
        .section__w-text-only .content .description {
          margin: 0 0 22px;
          font-size: 16px;
          line-height: 24px; } }
  .section__w-text-only .features-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0; }
    .section__w-text-only .features-list li {
      flex: 0 1 100%; }
      @media (min-width: 768px) and (max-width: 1199px) {
        .section__w-text-only .features-list li {
          flex: 0 1 50%; } }
      @media (min-width: 1200px) {
        .section__w-text-only .features-list li {
          flex: 0 1 25%; } }
      .section__w-text-only .features-list li .feature__content {
        max-width: 210px;
        padding: 0 20px 80px;
        margin: 0 auto; }
        @media (min-width: 768px) and (max-width: 1199px) {
          .section__w-text-only .features-list li .feature__content {
            padding: 0 20px 60px; } }
        @media (min-width: 1200px) {
          .section__w-text-only .features-list li .feature__content {
            padding: 0 20px; } }
      .section__w-text-only .features-list li .feature__title {
        font-size: 20px;
        line-height: 30px; }
      .section__w-text-only .features-list li .feature__description {
        font-family: "Proxima Nova", sans-serif;
        font-size: 16px;
        line-height: 26px; }

@media (max-width: 1199px) {
  .section__img-text {
    padding: 0 40px; } }

@media (min-width: 1200px) {
  .section__img-text {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    width: 100%; } }

@media (min-width: 1200px) {
  .section__img-text.img-right .text {
    margin-left: auto;
    margin-right: initial; } }

@media (min-width: 1200px) {
  .section__img-text.img-right .voice-device-preview {
    left: 53%;
    right: initial; } }

@media (min-width: 1200px) {
  .section__img-text.img-left .content {
    margin-left: auto; } }

@media (max-width: 1199px) {
  .section__img-text .content {
    padding: 70px 0 30px;
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%; } }

@media (min-width: 1200px) {
  .section__img-text .content {
    width: 48%;
    padding: 0 20px; } }

.section__img-text .text {
  max-width: 540px;
  text-align: center;
  color: #526173;
  margin: 0 0 30px; }
  @media (min-width: 1200px) {
    .section__img-text .text {
      margin-right: auto;
      text-align: left; } }
  .section__img-text .text .title {
    font-size: 32px; }
    @media (min-width: 1200px) {
      .section__img-text .text .title {
        font-size: 40px;
        margin: 0;
        will-change: transform, opacity;
        margin-bottom: 36px; } }
    @media (max-width: 767px) {
      .section__img-text .text .title {
        font-size: 24px; } }
  .section__img-text .text .description {
    font-size: 18px;
    font-family: "Proxima Nova", sans-serif;
    will-change: transform, opacity;
    line-height: 26px; }
    @media (max-width: 767px) {
      .section__img-text .text .description {
        font-size: 16px;
        line-height: 23px; } }

.section__img-text .voice-device-preview {
  text-align: center; }
  @media (max-width: 1199px) {
    .section__img-text .voice-device-preview {
      max-width: 620px; } }
  @media (min-width: 1200px) {
    .section__img-text .voice-device-preview {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 53%;
      height: 70%; } }
  .section__img-text .voice-device-preview img {
    display: inline-block; }
    @media (max-width: 1199px) {
      .section__img-text .voice-device-preview img {
        max-width: 100%;
        box-shadow: 0 28px 16px -26px rgba(0, 0, 0, 0.4); } }
    @media (min-width: 1200px) {
      .section__img-text .voice-device-preview img {
        height: 100%;
        float: right;
        will-change: transform, opacity; } }

@media (min-width: 1200px) {
  .section.always-visible-imgs.img-right .voice-device-preview {
    padding-right: 20px;
    height: auto !important; }
    .section.always-visible-imgs.img-right .voice-device-preview.no-padding {
      padding: 0; }
  .section.always-visible-imgs.img-left .voice-device-preview {
    padding-left: 20px;
    height: auto !important; }
    .section.always-visible-imgs.img-left .voice-device-preview.no-padding {
      padding: 0; }
  .section.always-visible-imgs img {
    max-width: 100%;
    height: auto;
    position: relative; } }

@keyframes zoomInOut {
  0% {
    transform: scale(1); }
  30% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

.introduction-section {
  position: relative;
  min-height: 100vh;
  overflow: hidden; }
  .introduction-section.active::after {
    opacity: 1; }
  .introduction-section.active .introduction-section__media {
    opacity: 1; }
  .introduction-section::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=0 );
    height: 120px;
    opacity: 0;
    transition: opacity 0.4s ease;
    transition-delay: 0.2s; }
  .introduction-section__content {
    overflow: hidden; }
  .introduction-section__media {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url("/public/assets/media/voice-hero-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: opacity 0.6s ease; }
    @media (min-width: 1200px) {
      .introduction-section__media {
        animation: zoomInOut 60s infinite linear; } }
    @media (max-width: 991px) {
      .introduction-section__media {
        background-image: url("/public/assets/media/voice-hero-bg-mobile.jpg"); } }
  .introduction-section__text {
    position: relative;
    color: white;
    padding: 0 10%;
    margin-top: 105px;
    text-align: center; }
    @media (max-width: 767px) {
      .introduction-section__text {
        margin-top: 20vh;
        padding: 0 15px; } }
    @media (min-width: 768px) {
      .introduction-section__text {
        width: 80%; } }
    .introduction-section__text .title {
      margin: 0;
      font-size: 52px;
      font-weight: bold; }
      @media (max-width: 767px) {
        .introduction-section__text .title {
          font-size: 28px; } }
      @media (min-width: 768px) {
        .introduction-section__text .title {
          margin-top: 16vh; } }
  .introduction-section__nav {
    position: absolute;
    z-index: 1;
    bottom: -1px;
    left: 50%;
    transform: translate3d(-50%, 0, 0); }
    .introduction-section__nav #discover-voice {
      padding: 0;
      margin: 0;
      background: url("/public/assets/next-slide@2x.png") no-repeat center;
      border: none;
      width: 209px;
      height: 62px;
      background-size: contain;
      position: relative;
      text-align: center; }
      .introduction-section__nav #discover-voice svg {
        position: absolute;
        top: 0;
        left: calc(50% - 2px);
        transform: translate3d(-50%, 13px, 0); }
      .introduction-section__nav #discover-voice span {
        display: inline-block;
        font-size: 14px;
        color: #526173;
        transform: translate3d(0, 15px, 0); }

.catalog-section__media {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  margin-left: auto; }
  @media (min-width: 768px) {
    .catalog-section__media {
      width: 60%; } }
  .catalog-section__media .inner-container {
    position: absolute;
    height: 100vh;
    padding: 0 40px;
    max-width: 850px; }
    @media (max-width: 767px) {
      .catalog-section__media .inner-container {
        height: 50vh;
        padding-top: 60px;
        background: white; }
        .catalog-section__media .inner-container::after {
          position: absolute;
          z-index: 10;
          content: ' ';
          left: 0;
          width: 100%;
          height: 40px;
          background: -moz-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
          background: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
          background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
          bottom: -40px; } }
    .catalog-section__media .inner-container .content {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      overflow: hidden; }
      .catalog-section__media .inner-container .content .pages-img {
        max-width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        will-change: transform;
        transform: translate3d(0, 0, 0) scale(1);
        transform-origin: top;
        opacity: 0; }
        .catalog-section__media .inner-container .content .pages-img1 {
          z-index: 1;
          opacity: 1; }
        .catalog-section__media .inner-container .content .pages-img2 {
          z-index: 2; }
        .catalog-section__media .inner-container .content .pages-img3 {
          z-index: 3; }
        .catalog-section__media .inner-container .content .pages-img4 {
          z-index: 4; }
      .catalog-section__media .inner-container .content .ipad-img {
        position: relative;
        z-index: 10;
        max-width: 100%;
        vertical-align: top;
        max-height: 70vh;
        transform: translateZ(0); }
        @media (max-width: 767px) {
          .catalog-section__media .inner-container .content .ipad-img {
            max-height: 46vh; } }

.catalog-section__item {
  position: relative;
  height: 100vh;
  display: flex; }
  @media (max-width: 767px) {
    .catalog-section__item {
      align-items: center;
      text-align: center;
      height: 80vh; } }
  @media (min-width: 768px) {
    .catalog-section__item {
      width: 40%;
      height: 50vh; } }
  .catalog-section__item .category-name {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    color: #526173;
    padding: 0 20px 0; }
    @media (max-width: 767px) {
      .catalog-section__item .category-name {
        -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
        align-self: flex-end;
        width: 100%;
        padding: 0; } }
    @media (min-width: 768px) and (max-width: 1199px) {
      .catalog-section__item .category-name {
        font-size: 30px; } }
    @media (min-width: 768px) {
      .catalog-section__item .category-name {
        margin-left: auto;
        font-size: 40px;
        align-self: flex-end;
        transform: translateY(50%);
        text-align: right; } }
    .catalog-section__item .category-name span {
      color: #be5fd9;
      display: block; }

.catalog-section.section1 .catalog-section__media .inner-container .content .pages-img1 {
  transform: translate3d(0, 0, 0) scale(1);
  opacity: 1; }

.catalog-section.section2 .catalog-section__media .inner-container .content .pages-img2 {
  display: block; }

.catalog-section.section3 .catalog-section__media .inner-container .content .pages-img3 {
  display: block; }

.catalog-section.section4 .catalog-section__media .inner-container .content .pages-img4 {
  display: block; }

.expectation-section {
  min-height: 100vh; }
  @media (min-width: 768px) {
    .expectation-section {
      margin-top: 300px;
      min-height: 80vh; } }

#in-store-section {
  margin-bottom: 120px; }
  @media (max-width: 767px) {
    #in-store-section {
      margin-bottom: 40px; } }

.info-section {
  text-align: right;
  position: relative; }
  @media (max-width: 767px) {
    .info-section {
      text-align: left; } }
  @media (min-width: 768px) {
    .info-section {
      min-height: 100vh; } }
  .info-section.info-section__text-left {
    text-align: left; }
    @media (min-width: 768px) {
      .info-section.info-section__text-left .description-container .description {
        float: left; } }
  .info-section.active .description-container .description .title {
    opacity: 1;
    transform: translateY(0); }
  .info-section.active .description-container .description p {
    opacity: 1;
    transform: translateY(0); }
  @media (max-width: 767px) {
    .info-section .section-borders {
      overflow: hidden; }
      .info-section .section-borders .section-border {
        display: none; } }
  @media (min-width: 768px) {
    .info-section .section-borders {
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      width: 100%;
      height: 100%;
      min-height: calc(100vh - 65px);
      top: 65px;
      overflow: hidden; }
      .info-section .section-borders .section-border {
        will-change: transform, opacity;
        position: absolute;
        background: white;
        display: none; } }
    @media (min-width: 768px) and (min-width: 768px) {
      .info-section .section-borders .section-border {
        display: block; } }
  @media (min-width: 768px) {
        .info-section .section-borders .section-border-left, .info-section .section-borders .section-border-right {
          height: 100%;
          width: 90px; }
        .info-section .section-borders .section-border-top, .info-section .section-borders .section-border-bottom {
          width: 100%;
          height: 90px; }
        .info-section .section-borders .section-border-top, .info-section .section-borders .section-border-left {
          top: 0;
          left: 0; }
        .info-section .section-borders .section-border-bottom, .info-section .section-borders .section-border-right {
          bottom: 0;
          right: 0; }
        .info-section .section-borders .section-border-top {
          transform-origin: center top; }
        .info-section .section-borders .section-border-bottom {
          transform-origin: center bottom; }
        .info-section .section-borders .section-border-left {
          transform-origin: left center; }
        .info-section .section-borders .section-border-right {
          transform-origin: right center; } }
  .info-section .section-borders .background-img {
    background-position: center; }
    @media (max-width: 767px) {
      .info-section .section-borders .background-img {
        padding-bottom: 59%;
        background-size: cover; } }
    @media (min-width: 768px) {
      .info-section .section-borders .background-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: auto;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: calc(100vh - $initial-header-size-desktop); } }
    @media (min-width: 1200px) {
      .info-section .section-borders .background-img {
        transform: scale(1.03); } }
    .info-section .section-borders .background-img.info-bg {
      background-image: url("/public/assets/media/info-bg.jpg"); }
    .info-section .section-borders .background-img.in-store-bg {
      background-image: url("/public/assets/media/in-store-bg.jpg"); }
  @media (min-width: 768px) {
    .info-section .description-container {
      position: relative;
      z-index: 1;
      margin: -45vh auto 0;
      min-height: calc(100vh - 52px); } }
  .info-section .description-container .description {
    color: white; }
    @media (max-width: 767px) {
      .info-section .description-container .description {
        padding: 0 20px;
        background: #320441;
        padding: 30px 20px 20px; } }
    @media (min-width: 768px) {
      .info-section .description-container .description {
        max-width: 40%;
        float: right;
        margin: 22vh 70px 0;
        will-change: transform, opacity; } }
    .info-section .description-container .description .title {
      font-size: 22px;
      margin-top: 0; }
      @media (min-width: 768px) {
        .info-section .description-container .description .title {
          font-size: 52px;
          line-height: initial;
          margin: 0 0 30px;
          opacity: 0;
          transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1);
          transform: translateY(120px); } }
    .info-section .description-container .description p {
      font-size: 16px;
      font-family: "Proxima Nova", sans-serif; }
      @media (min-width: 768px) {
        .info-section .description-container .description p {
          font-size: 18px;
          line-height: 26px;
          opacity: 0;
          transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1);
          transform: translateY(100px);
          transition-delay: 0.2s; } }

.why-voice-section .content {
  padding: 100px 0; }
  @media (max-width: 1199px) {
    .why-voice-section .content {
      max-width: 670px; } }
  .why-voice-section .content .title {
    margin: 0 0 80px; }

.contact-section {
  display: flex;
  align-items: center;
  position: relative;
  background: url("/public/assets/media/contact-bg.jpg") no-repeat center;
  background-size: cover;
  padding: 0; }
  @media (min-width: 768px) {
    .contact-section {
      height: 100vh; } }
  @media (max-width: 767px) {
    .contact-section {
      min-height: 100vh; } }
  .contact-section .section-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100vh; }
    .contact-section .section-wrapper .content-wrapper {
      width: 100%;
      position: relative;
      flex: 1 1 auto; }
      .contact-section .section-wrapper .content-wrapper .content {
        text-align: center;
        color: #fff; }
        @media (max-width: 767px) {
          .contact-section .section-wrapper .content-wrapper .content {
            padding: 65px 0 60px; } }
        @media (min-width: 768px) {
          .contact-section .section-wrapper .content-wrapper .content {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 980px;
            max-width: 100%;
            transform: translateY(-50%) translateX(-50%); } }
        .contact-section .section-wrapper .content-wrapper .content h2 {
          font-size: 72px;
          font-weight: bold;
          margin-bottom: 30px;
          padding: 0 10px; }
          @media (max-width: 767px) {
            .contact-section .section-wrapper .content-wrapper .content h2 {
              font-size: 28px; } }
          @media (min-width: 768px) {
            .contact-section .section-wrapper .content-wrapper .content h2 {
              line-height: 81px; } }
        .contact-section .section-wrapper .content-wrapper .content p {
          font-size: 18px;
          line-height: 29px;
          margin: 16px 0;
          padding: 0 15px 15px; }
          @media (min-width: 768px) {
            .contact-section .section-wrapper .content-wrapper .content p {
              padding: 0 70px 15px;
              font-size: 30px;
              line-height: 32px; } }
        .contact-section .section-wrapper .content-wrapper .content .input-wrapper {
          border-radius: 2px;
          width: 100%;
          margin: 0 auto; }
          @media screen and (max-height: 710px) {
            .contact-section .section-wrapper .content-wrapper .content .input-wrapper {
              flex-direction: row;
              width: 100%; } }
          .contact-section .section-wrapper .content-wrapper .content .input-wrapper .inner-wrapper {
            padding: 20px 15px;
            margin: 0 20px;
            display: flex;
            flex-direction: row;
            background: rgba(0, 0, 0, 0.4); }
            @media (max-width: 767px) {
              .contact-section .section-wrapper .content-wrapper .content .input-wrapper .inner-wrapper {
                flex-wrap: wrap; } }
          .contact-section .section-wrapper .content-wrapper .content .input-wrapper .form-group, .contact-section .section-wrapper .content-wrapper .content .input-wrapper button {
            position: relative;
            flex: 1 1 20%;
            font-size: 16px;
            border: 0;
            border-radius: 2px;
            margin: 0 5px; }
            @media (max-width: 767px) {
              .contact-section .section-wrapper .content-wrapper .content .input-wrapper .form-group, .contact-section .section-wrapper .content-wrapper .content .input-wrapper button {
                flex: 0 1 100%;
                margin: 5px; } }
          .contact-section .section-wrapper .content-wrapper .content .input-wrapper .form-group {
            overflow: hidden; }
            .contact-section .section-wrapper .content-wrapper .content .input-wrapper .form-group.focused .form-label, .contact-section .section-wrapper .content-wrapper .content .input-wrapper .form-group.filled .form-label {
              font-size: 11px;
              padding: 7px 0 0 17px;
              color: #320441; }
          .contact-section .section-wrapper .content-wrapper .content .input-wrapper .form-label {
            position: absolute;
            z-index: 1;
            color: #000;
            font-size: 16px;
            padding: 15px 0 0 17px;
            transition: all 150ms ease-out; }
          .contact-section .section-wrapper .content-wrapper .content .input-wrapper .field {
            background-color: #fff;
            padding: 23px 17px 9px 17px;
            height: auto;
            border-radius: 2px;
            font-size: 16px;
            border: 0;
            width: 100%; }
          .contact-section .section-wrapper .content-wrapper .content .input-wrapper button {
            width: 111px;
            background-color: #be5fd9;
            height: 50px;
            color: #fff;
            text-align: center; }
            @media screen and (max-height: 710px) {
              .contact-section .section-wrapper .content-wrapper .content .input-wrapper button {
                width: 20%;
                margin: 5px; } }
    .contact-section .section-wrapper footer {
      flex: 0 0 75px;
      width: 100%;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column; }


/*# sourceMappingURL=bundle.css.map*/