.section.catalog-section {
  overflow-x: hidden;
  background-color: $color-white;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  opacity: 0;
  position: sticky;
  position: -webkit-sticky;
  z-index: 1;
  top: 0;
  pointer-events: none;

  .content-wrapper {
    width: 40%;
    padding: 0 0 0 20px;

    .content {
      max-width: 380px;
      margin-left: auto;

      ul {
        list-style-type: none;

        li {
          cursor: pointer;
          margin: 45px 0;
          font-size: 24px;
          line-height: 29px;
          letter-spacing: .3px;
          display: flex;

          .category-name {
            flex: 0 1 auto;
            color: $color-gray;
            text-decoration: none;
          }

          .active-line {
            flex: 1 1 auto;
            height: 1px;
            margin-top: 15px;
            margin-left: 20px;
          }

          &.active {
            .category-name {
              color: $color-primary;
            }

            .active-line {
              border-top: 1px solid $color-primary;
            }
          }
        }
      }
    }
  }

  .voice-device-preview {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 42%;
    height: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    img {
      max-height: 100%;
    }
  }

  &#catalog-1-section {
    opacity: 1;
    pointer-events: initial;
  }

  &.active {
    opacity: 1;
    pointer-events: initial;
  }

  @media screen and (max-width: $screen-md-max) {
    .content-wrapper {
      .content {
        margin: 0 auto;
      }
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    height: auto !important;
    position: relative;
    opacity: 1;

    .content-wrapper {
      width: 100%;

      .content {
        ul {
          padding: 0;
          text-align: center;

          li {
            display: none;

            &.active {
              display: inline;

              .category-name {
                color: $color-gray;
                font-size: 3.2rem;
              }
            }

            .active-line {
              display: none;
            }
          }
        }
      }
    }

    .voice-device-preview{
      position: relative;
      top: auto;
      left: auto;
      transform: none;
      max-width: 100%;
      height: auto;
      text-align: center;
      align-items: center;

      img {
        max-width: 80%;
      }
    }
  }
}
