.section.catalog-section {
  background-color: transparent;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  z-index: 1;
  padding: 0;
  top: 0;

  .sm-only {
    display: none;
    color: $color-gray;
    font-size: 3.2rem;
    line-height: 3.4rem;
    margin: 25px auto 10px;
  }

  @media screen and (min-width: $screen-sm-max) {
    .catalog-menu {
      width: 40%;
      padding: 0 0 0 20px;
      position: fixed;
      top: 50%;
      transform: translateY(-50%) translateX(-10%);
      left: 0;
      opacity: 0;
      transition: opacity ease-in .15s,
                  transform ease-in .1s;

      &.show {
        opacity: 1;
        transform: translateY(-50%) translateX(0);
      }

      &.absolute {
        top: calc(50% + 150px);
        position: absolute;
      }

      .content {
        max-width: 380px;
        margin-left: auto;

        ul {
          list-style-type: none;

          li {
            cursor: pointer;
            margin: 45px 0;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: .3px;
            display: flex;

            .category-name {
              flex: 0 1 auto;
              color: $color-gray;
              text-decoration: none;
              transition: color ease-in .3s;
            }

            .active-line {
              flex: 1 1 auto;
              height: 1px;
              margin-top: 15px;
              margin-left: 20px;
              border-top: 1px solid $color-primary;
              transition: opacity linear .3s;
              opacity: 0;
            }

            &.active {
              .category-name {
                color: $color-primary;
              }

              .active-line {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

  .voice-device-preview {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 42%;
    height: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    img {
      max-height: 100%;
    }
  }

  &.active {

  }

  @media screen and (max-width: $screen-md-max) {
    .catalog-menu {
      .content {
        margin: 0 auto;
      }
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    height: auto !important;
    position: relative;
    opacity: 1;

    .sm-only {
      display: inline;
    }

    .catalog-menu {
      display: none;
    }

    .voice-device-preview{
      position: relative;
      top: auto;
      left: auto;
      transform: none;
      max-width: 100%;
      height: auto;
      text-align: center;
      align-items: center;

      img {
        max-width: 80%;
      }
    }
  }
}
