.section.expectation-section {
  text-align: center;

  .content-wrapper {
    width: 80%;
    margin: 0 auto;

    h2, p {
      color: $color-gray;
    }

    h2 {
      font-size: 52px;
      line-height: 62px;
      margin: 40px 0;
    }

    p {
      font-size: 24px;
      line-height: 32px;
      max-width: 920px;
      margin: 0 auto;
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    .content-wrapper {
      margin-bottom: 30px;

      h2 {
        font-size: 3.2rem;
        font-weight: 300;
        line-height: 4.2rem;
      }

      p {
        font-size: 1.8rem;
        line-height: 3.4rem;
      }
    }
  }
}
