.section.how-it-works-section {
  position: relative;
  text-align: center;
  background-color: $color-white;

  &.active {
    .content-wrapper .content {
      opacity: 1;
    }
  }

  .content-wrapper {
    position: relative;
    width: 65%;
    padding: 0 20px;
    z-index: 1;

    .content {
      width: 495px;
      max-width: 100%;
      display: inline-block;
      text-align: left;
      opacity: 0;
      transition: opacity .7s ease-in-out $scrolling-speed;

      h2 {
        color: $color-gray;
        font-family: $font-proxima-nova;
        font-size: 3.6rem;
        line-height: 5.2rem;
        font-weight: 300;
        margin-bottom: 5rem;
      }

      p {
        color: $color-gray;
        font-size: 1.8rem;
        line-height: 3.4rem;
        margin-bottom: 3rem;
        font-weight: lighter;

        &:last-child {
          font-size: 1.8rem;
          line-height: 2.8rem;
        }
      }
    }
  }

  .voice-device-preview {
    position: absolute;
    bottom: 23%;
    right: calc(30% - 550px);
    max-height: 90%;
    transform: translateY(50%);
    transition: transform .6s ease-in $scrolling-speed, opacity 1s ease-in $scrolling-speed;
    opacity: 0;

    img {
      display: block;
      width: 100%;
    }

    @media screen and (max-width: $screen-lg-min) {
      right: calc(30% - 660px);

      img {
        width: 80%;
      }
    }
  }

  &.active .voice-device-preview {
    transform: translateY(0);
    opacity: 1;

    .icon {
      opacity: 1;
    }
  }

  @media screen and (min-width: $screen-lg-max) {
    &::before {
      font-size: 20rem;
      line-height: 20rem;
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    &::before {
      display: none;
    }

    .content-wrapper {
      margin-top: 3rem;
      width: 100%;

      .content {
        opacity: 1;
        text-align: center;

        h2 {
          font-size: 3.2rem;
          line-height: 4.2rem;
          margin-bottom: 4rem;
        }

        p {
          font-size: 1.8rem;
          line-height: 3.4rem;
          margin-bottom: 3rem;
        }
      }
    }

    .voice-device-preview {
      display: block;
      right: auto;
      top: 0;
      opacity: 1;
      position: relative;
      height: 440px;
      transition: none;
      background: url('/assets/img/ntb-preview.jpg') no-repeat center;
      background-size: 700px auto;

      img {
       display: none;
      }
    }
  }
}
