.section.in-store-section {
  background: url('../../assets/img/in-store/in-store-bg.jpg') no-repeat center #320441;
  background-size: cover;
  text-align: left;
  z-index: 1;

  img {
    width: 100%;
    display: none;
  }

  @media screen and (max-width: $screen-sm) {
    padding-top: 0 !important;

    img {
      display: inline-block;
    }
  }

  .fp-tableCell {
    vertical-align: bottom;
  }

  .content-wrapper {
    width: 50%;
    display: inline-block;
    text-align: center;
    padding: 0 20px 60px;

    .content {
      max-width: 500px;
      width: 100%;
      display: inline-block;
      text-align: left;

      h2 {
        color: $color-white;
        letter-spacing: -0.6px;
        font-size: 52px;
        line-height: 62px;
      }

      p {
        font-family: $font-proxima-nova;
        color: $color-white;
        font-size: 18px;
        line-height: 26px;
      }
    }

    @media screen and (max-width: $screen-sm) {
      width: 100%;

      .content {
        text-align: center;
        margin: 5rem 0;

        h2 {
          font-size: 3.2rem;
          font-weight: 300;
          line-height: 4.2rem;
        }

        p {
          font-size: 1.8rem;
          line-height: 3.4rem;
        }
      }
    }
  }
}
