.section.info-section {
  background: url('../../assets/img/info-bg.jpg') no-repeat center #320441;
  background-size: cover;
  text-align: right;
  z-index: 1;

  img {
    width: 100%;
    display: none;
  }

  .catalog-menu {
    width: 50%;
    display: inline-block;
    text-align: center;
    padding: 0 20px;
    margin-left: auto;

    .content {
      max-width: 540px;
      width: 100%;
      display: inline-block;
      text-align: left;
      letter-spacing: -0.5px;

      h2 {
        color: $color-white;
        font-size: 52px;
        line-height: 62px;
      }

      p {
        font-family: $font-proxima-nova;
        color: $color-white;
        font-size: 18px;
        line-height: 26px;
      }
    }


  }

  @media screen and (max-width: $screen-sm) {
    display: block;
    height: auto;
    background-image: none;
    padding-top: 0 !important;

    img {
      display: inline-block;
    }

    .catalog-menu {
      width: 100%;

      .content {
        text-align: center;
        margin: 5rem 0;

        h2 {
          font-size: 3.2rem;
          font-weight: 300;
          line-height: 4.2rem;
        }

        p {
          font-size: 1.8rem;
          line-height: 3.4rem;
        }
      }
    }
  }
}
