.section.what-is-voice-section {
  position: relative;
  text-align: center;
  background-color: $color-white;

  &::before {
    content: 'What is Voice?';
    position: absolute;
    top: 15%;
    width: 85%;
    text-align: center;
    font-family: $font-europa;
    font-weight: bold;
    font-size: 15.5rem;
    line-height: 15.5rem;
    color: #eee;
    opacity: 0.64;
  }

  &.active {
    .content-wrapper .content {
      opacity: 1;
    }
  }

  .content-wrapper {
    position: relative;
    width: 65%;
    padding: 0 20px;

    .content {
      width: 490px;
      max-width: 100%;
      display: inline-block;
      text-align: left;
      opacity: 0;
      transition: opacity .7s ease-in-out $scrolling-speed;

      h2 {
        color: $color-gray;
        font-family: $font-europa;
        font-size: 5.5rem;
        line-height: 5.5rem;
        font-weight: bold;
        margin-bottom: 5rem;
      }

      p {
        color: $color-gray;
        font-size: 2.7rem;
        line-height: 3.9rem;
        margin-bottom: 3rem;
        font-weight: lighter;

        &:last-child {
          font-size: 1.8rem;
          line-height: 2.8rem;
        }
      }
    }
  }

  .voice-device-preview {
    position: absolute;
    bottom: 23%;
    right: calc(30% - 480px);
    max-height: 90%;
    transform: translateY(50%);
    transition: transform .6s ease-in $scrolling-speed, opacity 1s ease-in $scrolling-speed;
    opacity: 0;

    img {
      display: block;
      width: 90%;
    }

    @media screen and (max-width: $screen-lg-min) {
      right: calc(30% - 520px);

      img {
        width: 70%;
      }
    }

    @media screen and (max-width: $screen-md-min) {
      img {
        width: 100%;
      }
    }

  }

  &.active .voice-device-preview {
    transform: translateY(0);
    opacity: 1;

    .icon {
      opacity: 1;
    }
  }

  @media screen and (min-width: $screen-lg-max) {
    &::before {
      font-size: 20rem;
      line-height: 20rem;
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    &::before {
      display: none;
    }

    .content-wrapper {
      margin-top: 3rem;
      width: 100%;
      background: url('/assets/img/phone-logo-bg.png') top center no-repeat;

      .content {
        text-align: center;
        opacity: 1;

        h2 {
          font-size: 3.2rem;
          line-height: 4.9rem;
          margin-bottom: 4rem;
        }

        p {
          font-size: 2.4rem;
          line-height: 3.8rem;
          margin-bottom: 3rem;

          &:last-child {
            font-size: 1.8rem;
            line-height: 2.8rem;
          }
        }
      }
    }

    .voice-device-preview {
      display: block;
      right: auto;
      position: relative;
      top: 45px;
      transform: translateY(0);
      opacity: 1;
      width: 100vw;
      padding: 0 4rem;
      margin: -2rem 0 7rem;

      .animation-wrapper {
        position: relative;

        & > img {
          width: 100%;
        }

        .icons {
          .icon {
            width: 60px;
            opacity: 1;
          }
        }
      }
    }
  }
}
