.section.why-voice-section {
  text-align: center;
  position: relative;
  background-color: $color-white;

  &::before {
    content: 'Voice helps your brand with:';
    text-align: center;
    position: absolute;
    top: 10%;
    left: 0;
    font-family: $font-europa;
    font-size: 15.5rem;
    font-weight: bold;
    line-height: 16rem;
    max-height: 32rem;
    overflow-y: hidden;
    color: #eee;
    opacity: .5;
  }

  .path {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('../../assets/img/path.png') no-repeat center;
    background-size: contain;
    opacity: 0;
    transition: opacity .6s ease-in;
    transition-delay: 2s;

    @media screen and (max-width: $screen-sm-max) {
      display: none;
    }
  }

  h2 {
    position: relative;
    font-family: $font-europa;
    color: $color-gray;
    font-weight: bold;
    font-size: 5.5rem;
    line-height: 6.8rem;
    margin-bottom: 4rem;
    max-width: 1000px;
    display: inline-block;
  }

  &.active {
    .icons .icon {
      transform: translateY(0);
      opacity: 1;
    }

    .path {
      opacity: 1;
    }
  }

  .icons {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1500px;
    padding: 0 20px;
    position: relative;

    .icon {
      flex: 1 1 auto;
      transition: transform 1s ease-in-out $scrolling-speed, opacity 1s ease-in-out $scrolling-speed;
      transform: translateY(150%);
      opacity: 0;

      &:nth-child(2) {
        transition-delay: .9s;

        .content h3 {
          width: 200px;
        }
      }

      &:nth-child(3) {
        transition-delay: 1.1s;
      }

      &:nth-child(4) {
        transition-delay: 1.2s;
      }

      .content {
        width: 240px;
        max-width: 100%;
        display: inline-block;
        margin: 50px 0;

        .image-wrapper {
          padding: 0;

          img {
            max-width: 100%;
            margin-bottom: 2rem;
          }
        }

        h3 {
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 3.6rem;
          color: $color-gray;
          margin: 0 auto 1.5rem;
        }

        .label {
          color: $color-gray;
          font-size: 1.8rem;
          line-height: 3.4rem;
          height: 80px;
        }
      }
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    background: none;

    .icons .icon {
      transform: translateY(0);
      opacity: 1;
    }

    .path {
      opacity: 1;
    }

    h2 {
      font-size: 2.7rem;
      line-height: 3.2rem;
      margin-bottom: 4rem;
      padding: 0 20px;
    }

    &::before {
      display: none;
    }

    .icons .icon {
      flex: 1 1 50%;

      .content {
        margin: 0;
        width: 100%;

        h3 {
          width: auto !important;
        }
      }
    }
  }

  @media screen and (max-width: $screen-sm) {
    .icons .icon {
      flex: 1 1 100%;

      .content {
        h3 {
          font-size: 2rem;
          font-weight: 600;
          line-height: 4rem;
          color: $color-gray;
        }

        .label {
          color: $color-gray;
          font-size: 1.6rem;
          line-height: 2.4rem;
          height: 140px;
          padding: 0 2rem;
        }

        .image-wrapper {
          padding: 0 2.4rem;

          img {
            max-width: 100%;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }

  @media screen and (max-width: $screen-xs-max) {
    h2 {
      font-size: 2.3rem;
      line-height: 3.0rem;
      margin-bottom: 2rem;
    }
  }
}
