.btn, #btn-ready {
  font-size: 1.7rem;
  color: $color-white;
  text-align: center;
  text-decoration: none;
  line-height: 4.2rem;
  padding: 0 24px;
  transition: all .3s linear;
  font-weight: lighter;
  border-radius: 25px;
  border: 1px solid $color-white;

  body.introduction-section & {
    color: $color-white;
    background-color: $color-primary;
    border: 1px solid $color-primary;
  }

  body.catalog-1-section &,
  body.catalog-2-section &,
  body.catalog-3-section &,
  body.catalog-4-section &,
  body.expectation-section &,
  body.customers-section &,
  body.global-campaign-section &,
  body.growth-campaign-section &,
  body.life-easier-section &,
  body.why-voice-section & {
    color: $color-primary;
    border-color: $color-primary;
  }

  body.contact-section & {
    display: none;
  }

  &.delay {
    transition-delay: $scrolling-speed;
  }

  &.btn-link {
    border-color: transparent;

    &:hover {
      text-decoration: underline;
    }
  }

  @media screen and (max-width: $screen-sm) {
    font-size: 1.4rem;
    line-height: 3rem;
    padding: 0 10px;
  }
}
