#main-content {
  overflow: hidden;

  .section {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 55px;

    @media screen and (max-width: $screen-sm-max) {
      height: auto;
    }
  }
}
