@import './variables';
@import './fonts';
@import './animations';
@import './controls';
@import './layout';
@import './navbar';

html {
  font-size: 10px;
  line-height: 16px;
  font-family: $font-proxima-nova;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-family: $font-europa;
  }

  p {
    margin: 16px 0;
  }

  * {
    box-sizing: border-box;
  }

  body {
    font-size: 1.3rem;
    margin: 0;
    overflow-x: hidden;

    .hidden {
      opacity: 0;
      cursor: default;
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    .desktop {
      display: none;
    }
  }

  @media screen and (min-width: $screen-md-min) {
    .mobile {
      display: none;
    }
  }
}

@media screen and (max-width: $screen-sm) {
  .section.why-voice-section {
    height: auto !important;
    padding: 0 0 60px;
  }
}

#main-content {
  @import './sections/introduction-section';
  @import './sections/info-section';
  @import './sections/catalog-section';
  @import './sections/customers-section';
  @import './sections/expectation-section';
  @import './sections/text-image-section';
  @import './sections/image-text-section';
  @import './sections/in-store-section';
  @import './sections/why-voice-section';
  @import './sections/contact-section';
}
