#main-content nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030;
  padding: 8px 30px;
  width: 100%;
  opacity: 1;
  transition: all .5s linear;
  -webkit-transform: translateZ(0);

  &.bg-on {
    border-bottom: 1px solid rgba($color-gray, .2);
    background-color: rgba($color-black, .15);
    -webkit-backdrop-filter: saturate(90%) blur(20px);
    backdrop-filter: saturate(90%) blur(20px);

    body.catalog-1-section &,
    body.catalog-2-section &,
    body.catalog-3-section &,
    body.catalog-4-section &,
    body.expectation-section &,
    body.customers-section &,
    body.global-campaign-section &,
    body.growth-campaign-section &,
    body.life-easier-section &,
    body.why-voice-section & {
      fill: $color-black;
      background-color: rgba($color-white, .8);
      -webkit-backdrop-filter: saturate(90%) blur(10px);
      backdrop-filter: saturate(90%) blur(10px);
    }
  }

  &.hidden {
    opacity: 1;
  }

  h1 {
    float: left;
    margin: 6px 0;

    @media screen and (max-width: $screen-sm) {
      margin: 3px 0;
    }

    #logo {
      transition: opacity .3s linear;
      opacity: 1;

      svg {
        height: 50px;

        .letters,
        .dot,
        .icon {
          transition: fill .3s linear;
        }

        .letters {
          body.catalog-1-section &,
          body.catalog-2-section &,
          body.catalog-3-section &,
          body.catalog-4-section &,
          body.expectation-section &,
          body.customers-section &,
          body.global-campaign-section &,
          body.growth-campaign-section &,
          body.life-easier-section &,
          body.why-voice-section & {
            fill: $color-black;
          }
        }

        .dot,
        .icon {
          color: $color-primary;
        }
      }

      &.delay {
        transition-delay: $scrolling-speed;

        svg {
          .letters,
          .dot,
          .icon {
            transition-delay: $scrolling-speed;
          }
        }
      }
    }
  }

  #btn-ready {
    float: right;
    text-decoration: none;
    margin: 10px 0;
  }

  @media screen and (max-width: $screen-sm) {
    background-color: $color-white;
    border-bottom: 1px solid #e7e7e7;
    padding: 10px 15px;
    transition: all .2s linear;

    #logo,
    #logo svg .letters,
    #btn-ready,
    & {
      transition-delay: 0s !important;
    }

    #logo svg {
      height: 32px !important;

      .icon {
        display: block !important;
        fill: $color-primary !important;
      }

      .letters {
        fill: $color-black;
      }
    }

    &.transparent {
      background-color: transparent;
      border-color: transparent;

      #logo svg .letters {
        fill: $color-white;
      }
    }

    &.hidden {
      display: block !important;
      opacity: 0;
    }

    h1 {
      #logo, #logo.black, #logo.white, #logo.hidden {
        transition: opacity .3s linear;
        opacity: 1;
      }
    }

    #btn-ready {
      opacity: 1;
      display: block;
      color: $color-primary;
      border-color: $color-primary;
      margin: 3px 0;

      &.hidden {
        opacity: 0;
      }

      body.introduction-section & {
        color: $color-white;
      }
    }
  }
}
